{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/ff.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
    <div class="header" id="color">
        <img src=" {% static 'images/y4woo9hh.png' %}">
        <nav>
            <ul >
                <a href="#" class="color-change">Home</a>
                <a href="#about" class="color-change">About</a>
                <a href="#menu" class="color-change">Menu</a>
                <a href="#service" class="color-change">Service</a>
                <a href="#contact" class="color-change">Contact</a>
                <a href="" id="moon" class="color-change"><i class='bx bx-moon'></i></a>
            </ul>
        </nav>
    </div>

    <div class="coeur">
        <div class="coeur-writing">
            <h1>Dellicious Food <br>
                <h2 class="color-change">The Dellicioius Food of <br>your choice</h2>
            </h1>
            <button type="button">View Menu </button>
        </div>

        <img src=" {% static 'images/burger.jpg' %}">

    </div>

    <div class="Menu-total" id="menu">
        <center> <h1 class="color-change">Totaly Menu Of The Week</h1> </center>
        <div class="Menu">
        <div class="MENU-Chikeen">
            <i class='bx bx-cart-add'></i>
        <img src=" {% static 'images/chikeen.jpg' %}" >
        <h2 class="color-change">Chikeen Burger</h2>
        <h3 class="color-change" > 12 $</h3>
        </div>
        <div class="MENU-Double">
            <i class='bx bx-cart-add'></i>
            <img src=" {% static 'images/double.jpg' %}">
            <h2 class="color-change">Double Burger</h2>
            <h3 class="color-change"> 20 $ </h3>
        </div>
        <div class="MENU-Onion">
            <i class='bx bx-cart-add'></i>
            <img src=" {% static 'images/onion.jpg' %}">
            <h2 class="color-change">Onion Burger</h2>
            
            <h3 class="color-change"> 12 $</h3>
        </div>
    </div>

    <div class="Service-totale" id="service">
        <center> <h1 class="color-change">Dont woryy about the <span class="span">Service</span></h1> </center>
        <div class="Service">
        <div class="confirm">
        <center><h1 class="color-change">Confirm Order</h1>
        <img src=" {% static 'images/confirm.jpg' %}" style="width: 100px;">
        <p class="color-change">An icon is a small, simplified graphical representation <br>or symbol that visually signifies an object, action, concept, or idea. <br> Icons are commonly used in user interfaces (UI) to facilitate intuitive interaction <br> by providing quick recognition of functions or features</p></center>
        </div>
        <div class="shipping">
           <center> <h1 class="color-change">shipping</h1>
            <img src=" {% static 'images/shipping.jpg' %}" style="width: 200px;">
           <p class="color-change">Your order" typically refers to a specific item or set <br> of items that a customer has selected for purchase <br> from a seller or retailer. It represents the products or <br> services that an individual has chosen and intends to acquire. In e-commerce </p></center>
        </div>
        <div class="delivered">
           <center> <h1 class="color-change" >delivred</h1>
            <img src=" {% static 'images/delivred.jpg' %}" style="width: 110px;">
            <p class="color-change">Order delivered" indicates that the items or services that <br>a customer has purchased have been successfully transported <br> and received by the customer at the specified delivery location.</p>
        </center>
            
        </div>
    </div>

    <div class="About-Us" id="about">
        <img src=" {% static 'images/GG.jpg' %}">

        <div class="About-Us-Writing">
            <p id="g" >ABOUT Us <br>
            <h1 id="color " class="color-change"> Welcome in our home <br> We Make Delicious Food </h1> <br>
            <p id="color" class="color-change"> Welcome to our fast food haven, where flavor meets convenience! At [Your Fast Food Brand]
                <br> we're passionate about
                crafting delicious meals that satisfy your cravings in record time. From juicy <br> burgers to crispy
                fries, we're dedicated
                to delivering quality and taste with every bite.
            </p>
            </p>
            <button type="button" class="color-change">Learn More</button>
        </div>
        </div>
    </div>


    <div class="Contact-Us" id="contact">
        
        <ul id="sm" >
            <h2 class="color-change">Connect with us </h2>
            <a href="" class="color-change"><i class='bx bxl-twitter'></i></a>
            <a href="" class="color-change"><i class='bx bxl-facebook-circle'></i></a>
            <a href="" class="color-change"><i class='bx bxl-instagram-alt'></i></a>
        </ul>

        <ul id="Menu-Links">
            <h2 class="color-change">Menu Links</h2>
            <a href="" class="color-change">Home</a>
            <a href="" class="color-change">About Us</a>
            <a href="" class="color-change">Menu</a>
            <a href="" class="color-change">Service</a>
            <a href="" class="color-change">Contact</a>

        </ul>

        <ul id="Quick-Links">
            <h2 class="color-change">Quick-Links Links</h2>
            <a href="" class="color-change">Privacy Policy</a>
            <a href="" class="color-change">Term of Use </a>
            <a href="" class="color-change">Disclaimer</a>
        </ul>

        <ul id="Contact" style="list-style: none;">
            <h2 class="color-change">Contact</h2>
            <li class="color-change"> <i class='bx bx-world' ></i> El Wiam Enface E-S-I , Sidi Belabbes</li>
            <li class="color-change"> <i class='bx bx-phone'></i> 0668084605</li>
            <li class="color-change"> <i class='bx bxl-gmail'></i> fastfood@gmail.com</li>
        </ul>
        
    </div>

    <script src=" {% static 'js/ff.js' %}"></script>
</body>
<footer>
    <center>
        <h2 class="color-change">&copy Delicious Food 2024 </h2>
    </center>
</footer>

</html>